@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Đăng nhập</li>
        </ol>
    </div>
</div>
<div class="account">
    <div class="container">
        <h3 style="text-align:center">Đăng nhập</h3>
        <div class="account_grid">
            <div class="col-md-6 login-right">
                <h4 style="color:red">@ViewBag.Message</h4>
                <form action="/Home/SignIn" method="post">
                    <span>Email</span>
                    <input type="text" name="Email">
                    <span>Mật khẩu</span>
                    <input type="password" name="Password">
                    <div class="word-in">
                        <input type="submit" value="Đăng nhập">
                    </div>
                </form>
            </div>
            <div class="col-md-6 login-left">
                <br />
                <h5>Bạn chưa có tài khoản</h5>
                <br />
                <a class="acount-btn" href="/Home/SignUp">Tạo ngay</a>
            </div>
        </div>
    </div>
</div>